.hero-section {
  padding-top: 250px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  // margin-bottom: 100px;
  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.hero-texts{
  margin-top: 10em;
}

.banner-image {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

// .hero-head{
//   @include tablet {
//     display: flex;
//     flex-direction: column-reverse;
//   }
// }

// .heading-adj{
//   @include tablet {
//     margin-top: 2em;
//   }
// }

.hero-img{
  width: 100%;
}


.hero-texts
{
  h2, p{
  text-shadow: 2px 2px 5px #383838a8;
}
}

.hero__min__height{
  min-height: 30vh;
  padding-top: 15em;
  }


  .input-group > *{
    height: 48px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5em;
  }

  .input-group-text{
    border-radius: 5em;
    padding: 0em 1em;
    background-color: white;
  }

  .get__otp__btn{
    border-radius: 5em !important;
    height: 40px !important;
    line-height: 8px;
  }

  .get__otp__phone{
    border: none !important;
    font-weight: 300;
    max-width: 250px !important;
    min-width: 200px !important;

    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 14px;
    }  

    @include mobile-xs {
      border-radius: 0 5em 5em 0 !important;
    } 

  }

  .input-group-append{
    @include mobile-xs {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5em !important;
      margin-top: 1em;
    } 
  }
  
  .input-group-append .btn{
    @include mobile-xs {
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5em !important;
      margin-top: 1em;
    } 
  }
  

  .input-group-prepend span{
    @include desktop {
      font-size: 16px;
    }
    @include tablet {
      font-size: 14px;
    }  
  }

  .login__label{
    color: white;
  }