.feature {
  position: relative;

  &-item {
    h4 {
      line-height: 1;
    }

    p {
      line-height: 25px;
    }

    &:hover {
      .feature-icon {
        box-shadow: 0px 18px 43px 0px rgba(0, 141, 236, 0.21);
      }
    }
  }

  &-bg-1 {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }

  &-bg-2 {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }

  &-icon {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    color: $white;
    font-size: 45px;
    line-height: 90px;
    background: $primary-color;
    box-shadow: 0px 18px 25px 0px rgba(0, 141, 236, 0.10);
    text-align: center;
    transition: .2s ease;
  }
}

.seo {
  position: relative;
  overflow: visible;
}

.service {
  position: relative;
  overflow: visible;

  &-list {
    li {
      margin-bottom: 30px;
      color: $text-color;

      i {
        margin-right: 20px;
        color: $text-color;
      }
    }
  }

}

.team {
  overflow: visible;
  position: relative;

  &-slider {
    overflow: hidden;
    padding-bottom: 100px;

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      border: 0;
      background: transparent;
      color: $primary-color;
      position: absolute;
      bottom: 0;
      z-index: 1;
      font-size: 25px;

      &.slick-disabled {
        color: lighten($color: $primary-color, $amount: 30);
      }
    }

    .prevArrow {
      left: 10px;
    }

    .nextArrow {
      left: 50px;
    }
  }

  &-member {
    padding: 30px 45px;
    background: $white;
    // box-shadow: 0px 23px 43px 0px rgba(172, 189, 199, 0.49);
    margin: 0 20px;
    // border-radius: 1em;

    @include desktop-lg {
      padding: 30px;
    }
  }

}

.pricing {
  position: relative;
  overflow: visible;

  &-table {
    padding: 50px 35px 30px;
    transition: .2s ease;

    @include desktop-lg {
      padding: 30px 20px;
    }

    h1 {
      font-size: 65px;

      span {
        font-size: 20px;
        vertical-align: top;
        line-height: 65px;
        margin-right: 5px;
      }
    }

    &:hover {
      box-shadow: 0px 59px 43px 0px rgba(216, 233, 243, 0.3);
    }

    &.table-1 {
      // background-image: linear-gradient(59deg, rgb(213, 252, 113) 0%, rgb(100, 254, 171) 95%);
      border: .2em solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(59deg, rgb(213, 252, 113) 0%, rgb(100, 254, 171) 70%);
      border-radius: 1em !important;
    }

    &.table-2 {
      // background-image: linear-gradient(59deg, rgb(71, 181, 255) 0%, rgb(69, 217, 236) 95%);
      border: .2em solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(59deg, rgb(71, 181, 255) 0%, rgb(69, 217, 236) 70%);
    }

    &.table-3 {
      // background-image: linear-gradient(59deg, rgb(255, 229, 82) 0%, rgb(253, 211, 120) 95%);
      border: .2em solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(59deg, rgb(255, 229, 82) 0%, rgb(253, 211, 120) 70%);
    }
  }

  &-btn {
    font-size: 25px;
    font-weight: 700;
    color: $text-color-dark;

    @include desktop-lg {
      padding: 5px;
    }

    &:hover {
      color: $primary-color;
    }
  }

}

.newsletter {
  position: relative;

  &-form {
    height: 85px;
    width: 100%;
    padding: 0 40px;
    border: 0;
    background: $white;
    box-shadow: $primary-shadow;
    border-radius: 5px;

    &:focus {
      outline: 0;
      box-shadow: 0;
    }
  }

  &-btn {
    position: absolute;
    height: 100%;
    background: #8986ff;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    font-weight: 700;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;

    @include mobile {
      padding-left: 5px;
      padding-right: 5px;

    }
  }

}

.footer {
  background-color: #89BDBB;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  &-section{
    padding-top: 1em;
    padding-bottom: .5em;
  }

  &-menu {
    a {
      color: $text-color-dark;
      display: block;
      padding: 15px;
      font-weight: 400;
    }
  }
}

.social-icon {
  li {
    margin: 0 12px;

    a {
      height: 40px;
      width: 40px;
      background: $white;
      border-radius: 5em;
      line-height: 45px;
      display: block;
      text-align: center;
      background-color: $text-color-dark;
      color: $white;
    }
  }
}

.client-logo-slider {
  img {
    transition: .2s ease;
  }

  a {
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
}

/* service page */

.service-bg-image {
  background-size: containe;
  background-repeat: no-repeat;
  background-position: center 400px;
}

.service{
  &-bg-1{
    position: absolute;
    left: 50px;
    top: 10%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
  &-bg-2{
    position: absolute;
    right: 50px;
    top: 10%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
  &-bg-3{
    position: absolute;
    right: 50px;
    top: 50%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
  &-bg-4{
    position: absolute;
    left: 50px;
    bottom: 30%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
  &-bg-5{
    position: absolute;
    left: 10%;
    bottom: 5%;
    z-index: -1;
    @include tablet {
      display: none;
    }
  }
}

.panel-title a{
  color: black;
}
.panel-heading{
  display: flex;
}
.bene-padding{
  padding-top: .4em;
  padding-right: .5em;
}

.feat{
  min-height: 300px;
}
.feat-large{
  min-height: 380px;
}
.feat-small{
  min-height: 200px;
}
.gradient-text{
  // background: -webkit-linear-gradient(left,#2867AD, #2086b3,#3f7cc2,#2a93c0);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  @include tablet {
    font-size: 1em;
  }
  @include desktop {
    font-size: 1.5em;
  }

}

.features__card img{
  width: 100%;
  // object-fit: cover;
}

.product .card{
  border: 1px solid #daf1ef;
border-radius: 2em;
background-repeat: repeat, repeat;
background: url("/images/backgrounds/texture.png"), linear-gradient(0deg, rgba(179, 255, 241, 0.2), rgba(179, 255, 241, 0.2));
// background-blend-mode: light;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(21.5px);
}

.features__card{
padding: 4em !important;
  h4{
    color: $text-color-dark;
  }

  @include desktop{
    padding: 3em !important;
  }
  @include tablet{
    padding: 2em !important;
  }
  @include mobile{
    padding: 1em !important;
  }
}

.card__content__order{
  @include tablet{
    display: flex;
    flex-direction: column-reverse;
  }
}

.card__content__order .card-body{
  @include tablet{
    text-align: center;
  }
}

// .................steps section.............................


.steps__bg{
  background: #112D31;
}


ul.form-stepper {
    counter-reset: section;
    margin-bottom: 1rem;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 20%;
    width: 200px;
    background: repeating-linear-gradient(
       to right,
       white,
       white 5px,
       #112D31 5px,
       #112D31 10px
    );

    @include desktop {
      width: 150px; 
      }
      @include tablet {
        width: 80px;
        }  
    @include mobile {
      width: 60px;
      }
      @include mobile-xs {
        width: 30px;
        }
        @include mobile-xxs {
          width: 5px;
          }

}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    background: linear-gradient(156.18deg, rgba(255, 255, 255, 0.25) -13.84%, rgba(180, 178, 178, 0.0825) 95.28%);
    backdrop-filter: blur(2px);

    @include tablet {
      width: 60px;
      height: 60px;
    }
    @include mobile {
      width: 50px;
      height: 50px;
        }

}

.form-stepper .form-stepper-active .label {
    color: #ffffff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: $secondary-font;

    // @include tablet {
    //   font-size: 10 !important;
    //     }
    @include desktop {
      font-size: 24;
        }

}

.form-stepper .label {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    width: 150px;
    color: white;
    font-weight: 400;
    @include desktop {
      font-size: 0.875rem;
      width: 150px;
      line-height: 24px;
    }
    @include tablet {
      font-size: 0.875rem;
      width: 120px;
        }
    @include mobile {
      font-size: 0.625rem;
      width: 100px;
        }
 
    
}
.form-stepper a {
    cursor: default;
}


// ...........................FAQ......................................

.section-faq{
background: url("/images/backgrounds/texture.png"), linear-gradient(0deg, rgba(179, 255, 241, 0.2), rgba(179, 255, 241, 0.2));
}

.accordion{
max-width: 812px;
}

.accordion-item .accordion-button {
  border-radius: 1em !important;
}

.accordion-item {
  border-radius: 1em !important;
  border: none;
  box-shadow: 0px 0px 16px rgba(69, 69, 69, 0.14);
}

.accordion-button:not(.collapsed) {
  background-color: unset;
  border-radius: 1em 1em 0 0 !important;
  border: unset !important;
  box-shadow: unset;

  padding-bottom: 0;
}

.accordion-body {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 1em;
  hr{
    border-top: 2px solid;
  }
}


.accordion-header button{
  padding-left: 2em;
  padding-right: 2em;
  font-size: 16px !important;

  @include tablet{
    font-size: 14px !important;
    padding-right: 1em;
  }
  @include mobile{
    font-size: 13px !important;
    padding-right: 1em;
  }
}


.download_apps{
  background: linear-gradient(180deg, #2B2B2B 0%, #000000 100%);
  border-radius: 11px;
}

.store__link_img{
  width: 190px;
  height: auto;
  @include desktop{
    width: 140px;
    }

}