// Color Variables
$primary-color: #008dec;
// $text-color: #4d546f;
$text-color: #444444;
$text-color-white: #f7f7f7;
$text-color-dark: #112D31;
$body-color: #fff;
$gray:#f2f3f5;
$dark: #212329;
$black: #000;
$white: #fff;
$btn-hover: rgb(54, 54, 54);
$btn-primary: rgb(0, 110, 255);
$btn-secondary: rgb(22, 22, 22);

$primary-gradient: linear-gradient( 25deg, rgb(75, 189, 255) 0%, rgb(220, 171, 255) 95%);
$primary-gradient-alt: linear-gradient( 205deg, rgb(149, 199, 255) 0%, rgb(169, 140, 255) 95%);
$secondary-gradient: linear-gradient( 6deg, rgb(104, 222, 255) 0%, rgb(188, 154, 255) 100%);
$secondary-gradient-alt: linear-gradient( 186deg, rgb(84, 222, 253) 0%, rgb(193, 131, 255) 100%);
$primary-shadow: 0px 35px 46px 0px rgba(172, 189, 199, 0.28);
$secondary-shadow: 2px 2px 20px rgba(109, 125, 155, 0.5);

// Font Variables
// $primary-font: 'Raleway', sans-serif;
$primary-font: 'Poppins', sans-serif;
// $secondary-font: 'DM Sans', sans-serif;
$secondary-font: 'Lato', sans-serif;
$icon-font: 'themify';
